<a href="https://colab.research.google.com/github/jellyho/AI_Learning_jellyho/blob/main/5_Data_Preprocessing_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
from io import StringIO

NaN과 같은 값 누락에 대처, 평균, 중앙값, 혹은 최빈값 그리고 특정 상수로 고정 가능, Imputer를 이용

In [27]:
from sklearn.impute import SimpleImputer
imr = SimpleImputer(missing_values=np.nan, strategy='mean') #strategy = median, most_frequent, constant(fill_value매개변수 추가로 넣어야함)
#imr = imr.fit(df.values)
#imputed = imr.transform(df.values)

범주형 데이터에 대처하기

In [23]:
df = pd.DataFrame([
                   ['green','M',10.1,'class1'],
                   ['red','L',13.5,'class2'],
                   ['blue','XL',15.3,'class1'],
])
df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

순서가 있는 특성 매핑하기

In [24]:
size_mapping = {'XL':3, 'L':2, 'M':1}

df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

순서가 의미 없는 특성(클래스) 매핑하기

In [25]:
class_mapping = {label:idx for idx,label in enumerate(np.unique(df['classlabel']))}
class_mapping

df['classlabel'] = df['classlabel'].map(class_mapping)
df

   color  size  price  classlabel
0  green     1   10.1           0
1    red     2   13.5           1
2   blue     3   15.3           0

만약 순서 특성이 적용되면 곤란한 경우(색깔 등등) One-Hot Encoding을 사용한다. 하나의 특성을 그 특성의 종류만큼 특성을 새로 늘린다. 그러나 특성 간의 상관관계가 높을 때는 역행렬을 계산하기 어려워짐. 상관관계를 감소시키려면 특성 열을 몇 개 삭제 시킬 수도 있음

In [26]:
from sklearn.preprocessing import OneHotEncoder


#색깔이 총 3개이므로 2^2 만 있어도 충분, 즉 특성 열을 한 개 삭제 해도 됨

df = pd.get_dummies(df[['color','size','price','classlabel']], drop_first=True)

df

   size  price  classlabel  color_green  color_red
0     1   10.1           0            1          0
1     2   13.5           1            0          1
2     3   15.3           0            0          0