<a href="https://colab.research.google.com/github/jellyho/AI_Learning_jellyho/blob/main/6_Data_Preprocessing_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

데이터 불러오기

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')
df.columns = ['Class label', 'Alcohol', 'Malic Acid', 'Ash', 'Alcalinity of Ash', 'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']
df

     Class label  Alcohol  ...  OD280/OD315 of diluted wines  Proline
0              1    13.20  ...                          3.40     1050
1              1    13.16  ...                          3.17     1185
2              1    14.37  ...                          3.45     1480
3              1    13.24  ...                          2.93      735
4              1    14.20  ...                          2.85     1450
..           ...      ...  ...                           ...      ...
172            3    13.71  ...                          1.74      740
173            3    13.40  ...                          1.56      750
174            3    13.27  ...                          1.56      835
175            3    13.17  ...                          1.62      840
176            3    14.13  ...                          1.60      560

[177 rows x 14 columns]

데이터 훈련셋과 테스트셋으로 나누기

In [4]:
from sklearn.model_selection import train_test_split as tts
X, y = df.iloc[:, 1:].values, df.iloc[:,0].values
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=0, stratify=y)

최소-최대 변환 x = (x - x_min) / (x_max - x_min) 변수의 값을 0에서 1사이로 맞추는 것

In [6]:
from sklearn.preprocessing import MinMaxScaler as MMS
mms = MMS()
X_train_norm = mms.fit(X_train)
X_test_norm = mms.transform(X_test)

표준화 -> 평균이 0이고 표준편차가 1인 분포로 만드는 것

In [8]:
std = X_train.std()
mean = X_train.mean()
X_train_std = (X_train - mean) / std
X_test_std = (X_test - mean) / std